@using SecondHandMarket.Database
@using SecondHandMarket.Web.ViewModels.Admin
@model ReceiptViewModel

@{
    Layout = "";
}
<html>
<head>
    @Styles.Render("~/css")
</head>
<body>
    <div class="container" style="width: 210mm;">
        <div class="row">
            <div class="col-md-2">
                <img src="~/img/logo1.jpg" style="width: 80px; margin-top:20px;" class="pull-left" />
            </div>
            <div class="col-md-8">
                <span class="pull-right">@DateTime.Now.ToShortDateString() @DateTime.Now.ToShortTimeString()</span>
                <h1>INLÄMNINGSKVITTO</h1>
                <h4>
                    SSLK BYTESMARKNAD @Model.ActiveYear
                </h4>
                <h4><font color="red">Detta är en värdehandling</font></h4>
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="col-md-12"><h4>@Model.Salesman.FullName</h4></div>
        </div>
        <div class="row">
            <div class="col-md-12">@Model.Salesman.Phone</div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-12">
                <table id="items" class="table">
                    <thead>
                        <tr>
                            <th>Varunummer</th>
                            <th>Beskrivning</th>
                            <th>Pris</th>
                            <th>Inlämnad</th>
                            <th>Utbetald</th>
                            <th>Återlämnad</th>
                          </tr>
                    </thead>
                    <tbody id="items-body">
                        @foreach (Item item in Model.Items)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Description</td>
                                <td>@if (item.IsExchangeItem) {<text>Fyndvara</text>}else{@item.Price<text> kr</text>}</td>
                                <td><span style="width:100px;border-bottom:dotted;"></span></td>
                                <td><span style="width:100px;border-bottom:dotted;"></span></td>
                                <td><span style="width:100px;border-bottom:dotted;"></span></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="container">
               <!-- <br /><br />
                <hr />
                <br /> -->
                <p class="lead text-center">
                    Kolla dina varor på:
                    <br />
                    www.sundsvallsslalomklubb.se/bytesmarknad
                </p>
                <!-- <br />
                <hr />
                <br /><br />
                    -->
                <p>
                    <small><small>
                        <b><i>
                            <font size="5" color="blue">Försäljningsvillkor</font>
                        </i></b>
                        <br />
                        <i>
                            <b>
                                Genom att lämna in artiklar på vår bytesmarknad accepterar du som säljare följande
                                försäljningsvillkor.
                            </b>
                            <ul>
                                <li>
                                    Bytesmarknaden är helt kontantfri. Vi accepterar betalning med swish eller betalkort och
                                    återbetalning sker till ditt bankkonto (du behöver uppge ditt bankkonto vid inlämningen).
                                </li>
                                <li>
                                    Priset per inlämnad vara är <b>35</b> kr och det betalas vid registreringen.
                                </li>
                                <li>
                                    Provisionen för såld vara är <b>15%</b> och detta dras av från priset innan pengarna för såld vara lämnas
                                    ut. Om varan inte skulle bli såld betalar du ingen provision.
                                </li>
                                <li>
                                    Varor kan lämnas in fredag-lördag under bytesmarknadshelgen.
                                </li>
                                <li>
                                    När du kommer till registreringen är det viktigt att du har med dig:
                                    <ul>
                                        <li>
                                            En lista över varor, storlek/längd och pris.
                                        </li>
                                        <li>
                                            De varor/artiklar du vill lämna in.
                                        </li>
                                        <li>
                                            Tänkt pris på alla artiklar
                                        </li>
                                        <li>
                                            Kontonummer för utbetalning
                                        </li>
                                        <li>
                                            Mobiltelefonnummer att registrera artiklarna mot
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Du kan själv se om din vara är såld eller ej på www.sundsvallsslalomklubb.se/bytesmarknad
                                    Det gör du under ”Kolla mina varor”.
                                </li>
                                <li>
                                    Osålda varor hämtas senast söndag den 22 oktober. Det gör du <b>i god tid</b> innan stängning
                                    kl. 14:00 på Bilbolaget.
                                </li>
                                <li>
                                    De varor som <b>inte hämtats ut söndag kl. 14:00</b> när bytesmarknaden stänger, skänks till
                                    Fritidsbanken i Sundsvall.
                                </li>
                                <li>
                                    Ersättning för sålda varor betalas ut till <b>det kontonummer som uppges vid registreringen.</b>
                                    Målsättningen är att utbetalningen sker inom 10 bankdagar efter bytesmarknaden.
                                </li>
                                <li>
                                    När du lämnat in dina varor får du detta inlämningskvitto. Observera att kvittot är en
                                    värdehandling. Utan det kan vi inte lämna ut eventuella osålda varor eller kontrollera
                                    utbetalning av ersättning av sålda varor.
                                </li>
                            </ul>
                            <br />
                            <b>
                                Behandling av personuppgifter
                            </b>
                            Sundsvalls Slalomklubb är ansvarig för de personuppgifter som behandlas om dig i samband med
                            försäljning av dina varor och ska se till att GDPR följs. De personuppgifter vi behandlar är:
                            <ul>
                                <li>Namn</li>
                                <li>Telefonnummer</li>
                                <li>Kontonummer</li>
                            </ul>
                            
                            Personuppgifterna behandlas för att; a) vi ska kunna administrera försäljningen av dina varor, b) du
                            ska kunna få betalt för dina sålda varor och c) du ska kunna hämta ut dina osålda varor.
                            Uppgifterna behövs för att vi ska kunna uppfylla vår del av avtalet som du ingår med oss när vi säljer
                            dina varor på bytesmarknaden. Personuppgifterna sparas tills du fått betalt eller hämtat ut dina varor
                            och sedan raderas de. Det är bara personer som arbetar med att sälja dina varor på bytesmarknaden
                            som har tillgång till dina personuppgifter.
                            Vill du veta vilka personuppgifter som vi behandlar om dig, ändra eller vill du att vi slutar behandla
                            uppgifter kan du kontakta oss. Kontaktuppgifter: Sundsvalls SLK, Mogatan 69´0, 854 60 Sundsvall, alt.
                            via e-post kansli@sslk.y.se. Om du har synpunkter på vår behandling av dina personuppgifter kan du
                            även vända dig till Datainspektionen.
                            <br/>

                            <b>Om du inte vill att vi ska behandla personuppgifter om dig på det sätt som beskrivs ovan är det
                            inte möjligt för dig att sälja varor på bytesmarknaden.</b>

                            <!--
    Genom att lämna in artiklar på vår bytesmarknad accepterar du som säljare följande försäljningsvillkor:
    Bytesmarknaden är helt kontantfri. Vi accepterar betalning med swish eller betalkort och återbetalning
    sker till ditt bankkonto (kontonummer uppges vid inlämningen).
    Priset per inlämnad vara är 35 kr och det betalas vid inlämningen. Provisionen för såld vara är 15% och
    detta dras av från priset innan pengarna för såld vara lämnas ut. Om varan inte skulle bli såld betalar du
    ingen provision. Varor kan lämnas in <b>fredag-lördag</b>. När du kommer till inlämningen är
    det viktigt att du har med dig de artiklar du vill lämna in, tänkt pris på alla artiklar, kontonummer för
    utbetalning och mobiltelefonnummer att registrera artiklarna mot.
    <br />
    Du kan själv se om din vara är såld eller inte på <b>www.sundsvallsslalomklubb.se/bytesmarknad</b>. Det gör
    du under ”Kolla mina varor”. Osålda varor hämtas senast <b>söndag kl. 14.00</b> på
    Bilbolaget – de varor som inte hämtats ut innan denna tidpunkt skänks till välgörande ändamål.
    Ersättning för sålda varor betalas ut till det kontonummer som uppges vid inlämningen. Målsättningen
    är att utbetalning sker inom <b>10 bankdagar</b> efter bytesmarknaden. När du
    har lämnat in dina varor får du ett signerat kvitto. Observera att <b>kvittot är en värdehandling</b> och utan
    det kan vi inte lämna ut eventuella osålda varor eller kontrollera utbetalning av ersättning för sålda
    varor.
    Du kan läsa mer om vår behandling av personuppgifter på <b>https://idrottonline.se/SundsvallsSLK-Skidor/Bytesmarknad</b>.
    -->
                        </i>
                    </small></small>
                </p>
            </div>
        </div>
    </div>
</body>

</html>