<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SSLK BYTESMARKNAD</title>
    @Styles.Render("~/css")
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    @Scripts.Render("~/modernizr")
</head>
<body>
    <!-- Modal -->
    <div class="modal" id="item-dialog" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body…</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            @if (Request.IsAuthenticated)
            {
                <li class="sidebar-page">
                    <a href="~/admin">@Model.GetLoggedOnUser().FullName</a>
                </li>
                <li>
                    <a href="@Url.Action("index", "public")">Publika sidan</a>
                </li>
                <li>
                    <a href="~/account/logoff">Logga ut</a>
                </li>
            }
            else
            {
                <li class="sidebar-page">
                    SSLK Bytesmarknad
                </li>
                <li>
                    <a href="~/account/login">Logga in</a>
                </li>
            }
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <h1><img src="~/img/logo1.jpg" width="100" /> SSLK BYTESMARKNAD @Model.ActiveYear</h1>
            @if (Request.IsAuthenticated)
            {
                <span class="pull-right text-uppercase"><a href="#" data-id="@Model.GetLoggedOnUser().Id" class="edit-user">@Model.GetLoggedOnUser().FullName</a></span>
            }
        </div>
    </div>
    <br />

    @RenderBody()

    <script type="text/javascript">
            var host = '@Url.Content("~")';
            var isTouchDevice = 'ontouchstart' in document.documentElement;
    </script>

    @Scripts.Render("~/js")
    <script src="/bytesmarknad/js/tinymce/tinymce.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
